<h3>About the Little Jamaica</h3>
<button class="btn-primary" (click)="onShowAbout()">Show</button>
<&nbsp;>
<button class="btn-outline-warning" [disabled]="!showCreate" (click)="onCreateAbout()">Create</button>
<&nbsp;>
<button class="btn-outline-warning" [disabled]="!allowUpdate" (click)="onChangePhotoAbout()">Change Photo</button>
<hr>
<div style="text-align:center" *ngIf="changePhotoFormWanted">
  <div [innerHtml]='msg' style="color: red;"></div>
  <div><img [src]="url" *ngIf="url"></div>
  <p>
    <input type="file" (change)="selectFile($event)">
  </p>
  <button class="btn-primary" (click)="onConfirmPhotoAbout()">Confirm</button>
  <&nbsp;>
  <button class="btn-primary" [disabled]="!photoConfirmed" (click)="onUploadPhotoAbout()">Upload</button>
</div>
<table *ngIf="listOfAbout && listOfAbout.length > 0">
  <thead>
  <tr>
    <!--th style="border: 1px solid #000000;">number</th-->
    <th></th>
    <th style="border: 1px solid #000000;">FirstTitle</th>
    <th style="border: 1px solid #000000;">FirstContent</th>
    <th style="border: 1px solid #000000;">SecondTitle</th>
    <th style="border: 1px solid #000000;">SecondContent</th>
    <th style="border: 1px solid #000000;">Facebook</th>
    <th style="border: 1px solid #000000;">Twitter</th>
    <th style="border: 1px solid #000000;">Instagram</th>
    <th style="border: 1px solid #000000;">Telephone</th>
    <th style="border: 1px solid #000000;">Email</th>
    <th style="border: 1px solid #000000;">Link to share</th>
    <th style="border: 1px solid #000000;">Photo</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let weat of listOfAbout; let i = index">
    <!--td style="border: 1px solid #000000;">{{i+1}}</td-->
    <td><button class="btn-outline-warning" [disabled]="!allowUpdate" (click)="onUpdateAbout()">Update</button></td>
    <td style="border: 1px solid #000000;">{{weat.title1}}</td>
    <td style="border: 1px solid #000000;">{{weat.content1}}</td>
    <td style="border: 1px solid #000000;">{{weat.title2}}</td>
    <td style="border: 1px solid #000000;">{{weat.content2}}</td>
    <td style="border: 1px solid #000000;">{{weat.facebook}}</td>
    <td style="border: 1px solid #000000;">{{weat.twitter}}</td>
    <td style="border: 1px solid #000000;">{{weat.instagram}}</td>
    <td style="border: 1px solid #000000;">{{weat.telephon}}</td>
    <td style="border: 1px solid #000000;">{{weat.email}}</td>
    <td style="border: 1px solid #000000;">{{weat.shareLink}}</td>
    <td style="border: 1px solid #000000;"><img class="aboutImage" src="{{weat.imageAbout}}" /></td>
  </tr>
  </tbody>
</table>

<div *ngIf="updateAboutWanted">
  <h3>All fields are mandatory, unless otherwise stated!</h3>
  <hr>
  <label>First Title</label>
  <input type="text" class="form-control" [(ngModel)]="aboutTitle1">
  <label>First Content</label>
  <input type="text" class="form-control" [(ngModel)]="aboutContent1">
  <label>Second Title</label>
  <input type="text" class="form-control" [(ngModel)]="aboutTitle2">
  <label>Second Content</label>
  <input type="text" class="form-control" [(ngModel)]="aboutContent2">
  <label>Facebook</label>
  <input type="text" class="form-control" [(ngModel)]="aboutFacebook">
  <label>Twitter</label>
  <input type="text" class="form-control" [(ngModel)]="aboutTwitter">
  <label>Instagram</label>
  <input type="text" class="form-control" [(ngModel)]="aboutInstagram">
  <label>Phone</label>
  <input type="text" class="form-control" [(ngModel)]="aboutTelephone">
  <label>Email</label>
  <input type="text" class="form-control" [(ngModel)]="aboutEmail">
  <label>Share Link</label>
  <input type="text" class="form-control" [(ngModel)]="aboutShareLink">
  <hr>
  <!--p *ngIf="eventName.length>0 && eventNote.length>0">{{allowNewEvent}}=true</p-->
  <button class="btn btn-primary" (click)="onSubmitUpdateAbout()">Submit</button>
</div>

<div *ngIf="createAboutWanted">
  <h3>All fields are mandatory, unless otherwise stated!</h3>
  <hr>
  <label>First Title</label>
  <input type="text" class="form-control" [(ngModel)]="aboutTitle13">
  <label>First Content</label>
  <input type="text" class="form-control" [(ngModel)]="aboutContent13">
  <label>Second Title</label>
  <input type="text" class="form-control" [(ngModel)]="aboutTitle23">
  <label>Second Content</label>
  <input type="text" class="form-control" [(ngModel)]="aboutContent23">
  <label>Facebook</label>
  <input type="text" class="form-control" [(ngModel)]="aboutFacebook3">
  <label>Twitter</label>
  <input type="text" class="form-control" [(ngModel)]="aboutTwitter3">
  <label>Instagram</label>
  <input type="text" class="form-control" [(ngModel)]="aboutInstagram3">
  <label>Phone</label>
  <input type="text" class="form-control" [(ngModel)]="aboutTelephone3">
  <label>Email</label>
  <input type="text" class="form-control" [(ngModel)]="aboutEmail3">
  <label>Share Link</label>
  <input type="text" class="form-control" [(ngModel)]="aboutShareLink3">
  <div style="text-align:center">
    <div [innerHtml]='msg' style="color: red;"></div>
    <div><img [src]="url" *ngIf="url"></div>
    <p>
      <input type="file" (change)="selectFile($event)">
    </p>
    <button class="btn-primary" (click)="onConfirmPhotoAbout()">Confirm</button>
  </div>
  <hr>
  <!--p *ngIf="eventName.length>0 && eventNote.length>0">{{allowNewEvent}}=true</p-->
  <button class="btn btn-primary" (click)="onSubmitCreateAbout()">Submit</button>
</div>
