<h3>Businesses</h3>
<button class="btn-primary" (click)="onShowAllDetail()">Show All Businesses</button>
<&nbsp;>
<button class="btn-outline-success" (click)="onAddNewDetail()">Add New Business</button>
<&nbsp;>
<td style="border: 1px solid #000000;"><button class="btn-outline-warning" [disabled]="listOfDetails.length==0" (click)="onUpdateDetail()">Update</button></td>
<&nbsp;>
<td style="border: 1px solid #000000;"><button class="btn-outline-warning" [disabled]="listOfDetails.length==0" (click)="onChangePhotoDetail()">Change Photo</button></td>
<&nbsp;>
<td style="border: 1px solid #000000;"><button class="btn-danger" [disabled]="listOfDetails.length==0" (click)="onDeleteDetail()">Delete</button></td>
<hr>
<div style="text-align:center" *ngIf="changePhotoFormWanted">
  <div [innerHtml]='msg' style="color: red;"></div>
  <div><img [src]="url" *ngIf="url"></div>
  <p>
    <input type="file" (change)="selectFile($event)">
  </p>
  <button class="btn-primary" (click)="onConfirmPhotoEvent()">Confirm</button>
  <&nbsp;>
  <button class="btn-primary" [disabled]="!photoConfirmed" (click)="onUploadPhotoDetail()">Upload</button>
</div>
<div *ngIf="changePhotoWanted">
  <label>Enter the Id for photo change</label>
  <input type="text" class="form-control" [(ngModel)]="detailIdToDeleteOrUpdate">
  <button class="btn btn-primary" (click)="onSubmitChangePhotoDetail()">Submit</button>
</div>
<div *ngIf="updateDetailWanted">
  <label>Enter the Id for update</label>
  <input type="text" class="form-control" [(ngModel)]="detailIdToDeleteOrUpdate">
  <button class="btn btn-primary" (click)="onSubmitUpdateDetail()">Submit</button>
</div>
<div *ngIf="deleteDetailWanted">
  <label>Enter the Id for delete</label>
  <input type="text" class="form-control" [(ngModel)]="detailIdToDeleteOrUpdate">
  <button class="btn btn-primary" (click)="onSubmitDeleteDetail()">Submit</button>
</div>
<table *ngIf="listOfDetails && listOfDetails.length > 0">
  <thead>
  <tr>
    <th style="border: 1px solid #000000;">number</th>
    <th style="border: 1px solid #000000;">Id</th>
    <th style="border: 1px solid #000000;">NameOfBusiness</th>
    <th style="border: 1px solid #000000;">Note</th>
    <th style="border: 1px solid #000000;">StreetNumberAndName</th>
    <th style="border: 1px solid #000000;">ProvinceAndPostalCode</th>
    <th style="border: 1px solid #000000;">Description</th>
    <th style="border: 1px solid #000000;">Facebook</th>
    <th style="border: 1px solid #000000;">Instagram</th>
    <th style="border: 1px solid #000000;">Youtube</th>
    <th style="border: 1px solid #000000;">Hot Business</th>
    <th style="border: 1px solid #000000;">Rate</th>
    <th style="border: 1px solid #000000;">BusinessTypeId</th>
    <th style="border: 1px solid #000000;">BusinessTypeName</th>
    <th style="border: 1px solid #000000;">Website</th>
    <th style="border: 1px solid #000000;">LatitudeAndLongitude</th>
    <th style="border: 1px solid #000000;">Telephone</th>
    <th style="border: 1px solid #000000;">Email</th>
    <th style="border: 1px solid #000000;">Link to share</th>
    <th style="border: 1px solid #000000;">Order Link</th>
    <th style="border: 1px solid #000000;">Photo</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let weat of listOfDetails; let i = index">
    <td style="border: 1px solid #000000;">{{i+1}}</td>
    <td style="border: 1px solid #000000;">{{weat.id}}</td>
    <td style="border: 1px solid #000000;">{{weat.name}}</td>
    <td style="border: 1px solid #000000;">{{weat.note}}</td>
    <td style="border: 1px solid #000000;">{{weat.address}}</td>
    <td style="border: 1px solid #000000;">{{weat.address2}}</td>
    <td style="border: 1px solid #000000;">{{weat.description}}</td>
    <td style="border: 1px solid #000000;">{{weat.facebook}}</td>
    <td style="border: 1px solid #000000;">{{weat.instagram}}</td>
    <td style="border: 1px solid #000000;">{{weat.youtube}}</td>
    <td style="border: 1px solid #000000;">{{weat.isHotBussiness}}</td>
    <td style="border: 1px solid #000000;">{{weat.rate}}</td>
    <td style="border: 1px solid #000000;">{{weat.listingTypeId}}</td>
    <td style="border: 1px solid #000000;">{{weat.listingTypeName}}</td>
    <td style="border: 1px solid #000000;">{{weat.website}}</td>
    <td style="border: 1px solid #000000;">{{weat.location}}</td>
    <td style="border: 1px solid #000000;">{{weat.phone}}</td>
    <td style="border: 1px solid #000000;">{{weat.email}}</td>
    <td style="border: 1px solid #000000;">{{weat.shareLink}}</td>
    <td style="border: 1px solid #000000;">{{weat.orderLink}}</td>
    <td style="border: 1px solid #000000;"><img class="busiImage" src="{{weat.homeImage}}" /></td>
    <!--td style="border: 1px solid #000000;"><button class="btn-outline-warning">Update</button></td>
    <td><&nbsp;></td>
    <td style="border: 1px solid #000000;"><button class="btn-danger">Delete</button></td-->
  </tr>
  </tbody>
</table>

<div *ngIf="updateDataDetail">
  <h3>All fields are mandatory, unless otherwise stated!</h3>
  <hr>
  <label>Id</label>
  <input type="text" class="form-control" [disabled]="true" [(ngModel)]="detailId">
  <label>Name of Business</label>
  <input type="text" class="form-control" [(ngModel)]="detailName">
  <label>Note</label>
  <input type="text" class="form-control" [(ngModel)]="detailNote">
  <label>Street Number and Name</label>
  <input type="text" class="form-control" [(ngModel)]="detailAddress">
  <label>Province and Postal Code</label>
  <input type="text" class="form-control" [(ngModel)]="detailAddress2">
  <label>Description</label>
  <input type="text" class="form-control" [(ngModel)]="detailDescription">
  <label>Facebook</label>
  <input type="text" class="form-control" [(ngModel)]="detailFacebook">
  <label>Instagram</label>
  <input type="text" class="form-control" [(ngModel)]="detailInstagram">
  <label>YouTube</label>
  <input type="text" class="form-control" [(ngModel)]="detailYoutube">
  <label>Hot Business</label>
  <!--input type="text" class="form-control" [(ngModel)]="detailIsHotBussiness"-->
  <div>
    <input name="hotoptions2" ng-control="hotoptions2" type="radio" [value]="'true'" [(ngModel)]="hotBiz2">Yes
    <input name="hotoptions2" ng-control="hotoptions2" type="radio" [value]="'false'" [(ngModel)]="hotBiz2">No
  </div>
  <hr>

  <label>Rate</label>
  <input type="text" class="form-control" [(ngModel)]="detailRate">
  <label>Type of Business</label>
  <input type="text" class="form-control" [disabled]="true" [(ngModel)]="detailListingTypeName">
  <button class="btn-primary" (click)="onChangeTypeOfBusiness()">Change the Type of Business</button>
  <!--input type="text" class="form-control" [(ngModel)]="detailListingTypeId"-->
  <div *ngIf="showChangeOnBusinessType">
    <div *ngFor="let coun of listOfListingTypes">
    <input name="options" ng-control="options" type="radio" [value]="coun.id" [(ngModel)]="chosenType.id">{{coun.name}}
    </div>
  </div>
  <!--label>Type of Business</label>
  <input type="text" class="form-control" [(ngModel)]="detailListingTypeName"-->
  <hr>
  <label>Website</label>
  <input type="text" class="form-control" [(ngModel)]="detailWebsite">
  <label>Location's Latitude</label>
  <input type="text" class="form-control" [(ngModel)]="detailLocationLatitude">
  <label>Location's Longitude</label>
  <input type="text" class="form-control" [(ngModel)]="detailLocationLongitude">
  <label>Telephone</label>
  <input type="text" class="form-control" [(ngModel)]="detailPhone">
  <label>Email</label>
  <input type="text" class="form-control" [(ngModel)]="detailEmail">
  <label>Link to share</label>
  <input type="text" class="form-control" [(ngModel)]="detailShareLink">
  <label>Order Link</label>
  <input type="text" class="form-control" [(ngModel)]="detailOrderLink">
  <hr>
  <!--p *ngIf="eventName.length>0 && eventNote.length>0">{{allowNewEvent}}=true</p-->
  <button class="btn btn-primary" (click)="onSubmitDataToUpdateDetail()">Submit</button>
</div>

<div *ngIf="newDetailFormWanted">
  <h3>All fields are mandatory, unless otherwise stated!</h3>
  <hr>
  <label>Name of Business</label>
  <input type="text" class="form-control" [(ngModel)]="detailName2">
  <label>Note</label>
  <input type="text" class="form-control" [(ngModel)]="detailNote2">
  <label>Street Number and Name</label>
  <input type="text" class="form-control" [(ngModel)]="detailAddress222">
  <label>Province and Postal Code</label>
  <input type="text" class="form-control" [(ngModel)]="detailAddress22">
  <label>Description</label>
  <input type="text" class="form-control" [(ngModel)]="detailDescription2">
  <label>Facebook</label>
  <input type="text" class="form-control" [(ngModel)]="detailFacebook2">
  <label>Instagram</label>
  <input type="text" class="form-control" [(ngModel)]="detailInstagram2">
  <label>YouTube</label>
  <input type="text" class="form-control" [(ngModel)]="detailYoutube2">
  <label>Hot Business</label>
  <!--input type="text" class="form-control" [(ngModel)]="detailIsHotBussiness2"-->
  <div>
    <input name="hotoptions" ng-control="hotoptions" type="radio" [value]="'true'" [(ngModel)]="hotBiz">Yes
    <input name="hotoptions" ng-control="hotoptions" type="radio" [value]="'false'" [(ngModel)]="hotBiz">No
  </div>
  <hr>
  <label>Rate</label>
  <input type="text" class="form-control" [(ngModel)]="detailRate2">
  <label>Type of Business</label>
  <!--input type="text" class="form-control" [disabled]="true" [(ngModel)]="detailListingTypeName">
  <button class="btn-primary" (click)="onChangeTypeOfBusiness()">Change the Type of Business</button-->
  <div>
    <div *ngFor="let coun of listOfListingTypes">
      <input name="options" ng-control="options" type="radio" [value]="coun.id" [(ngModel)]="chosenType2.id">{{coun.name}}
    </div>
  </div>
  <hr>
  <label>Website</label>
  <input type="text" class="form-control" [(ngModel)]="detailWebsite2">
  <label>Location's Latitude</label>
  <input type="text" class="form-control" [(ngModel)]="detailLocationLatitude2">
  <label>Location's Longitude</label>
  <input type="text" class="form-control" [(ngModel)]="detailLocationLongitude2">
  <label>Telephone</label>
  <input type="text" class="form-control" [(ngModel)]="detailPhone2">
  <label>Email</label>
  <input type="text" class="form-control" [(ngModel)]="detailEmail2">
  <label>Link to share</label>
  <input type="text" class="form-control" [(ngModel)]="detailShareLink2">
  <label>Order Link</label>
  <input type="text" class="form-control" [(ngModel)]="detailOrderLink2">
  <div style="text-align:center">
    <div [innerHtml]='msg' style="color: red;"></div>
    <div><img [src]="url" *ngIf="url"></div>
    <p>
      <input type="file" (change)="selectFile($event)">
    </p>
    <button class="btn-primary" (click)="onConfirmPhotoEvent()">Confirm</button>
  </div>
  <hr>
  <button class="btn btn-primary" (click)="onSubmitDataToNewDetail()">Submit</button>
</div>
